In [2]:
import pandas as pd
import numpy as np
df= pd.read_csv('movies_2.csv')
df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [4]:
print(" \nCount total NaN in a DataFrame : \n\n",df.isnull().sum().sum())

Count total NaN in a DataFrame :

 343

In [6]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]

print(rows_with_NaN)

     MovieID                                  Title MPAA Rating       Budget  \
327      328                       Mr. & Mrs. Smith       PG-13  110000000.0
359      360                                    300           R   60000000.0
380      381                          Marley and Me          PG   60000000.0
391      392                                 WALL-E           G  180000000.0
396      397                                  Taken       PG-13   25000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
327  4.782075e+08   2005-06-07     Comedy    120.0     6.7      150380.0
359  4.541619e+08   2007-03-09     Action    155.0     8.1      681249.0
380  2.478000e+08   2008-12-25      Drama    115.0     4.7      252223.0
391  5.333000e+08   2008-06-23  Animation     97.0     7.6      429384.0
396  2.268000e+08   2009-01-30   Thriller     90.0     7.6      473121.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

    Summary
327     NaN
359     NaN
380     NaN
391     NaN
396     NaN
..      ...
611     NaN
612     NaN
613     NaN
614     NaN
615     NaN

[120 rows x 11 columns]

In [28]:
df.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [29]:
df.tail()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
shape= df.shape
print('\nDataFrame shape: ',shape)
print('\nNumber of rows: ',shape[0])
print('\nNumber of columns: ',shape[1])

DataFrame shape:  (616, 11)

Number of rows:  616

Number of columns:  11

In [34]:
df.size

6776

In [36]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [21]:
df[["Gross","Rating"]]

            Gross  Rating
0    2.960000e+08     5.9
1    1.457933e+08     7.4
2    7.107992e+07     7.2
3    1.610017e+08     7.2
4    8.443162e+07     7.5
..            ...     ...
611  1.062000e+09     NaN
612  7.594000e+08     NaN
613  1.632000e+09     NaN
614  2.796000e+09     NaN
615           NaN     NaN

[616 rows x 2 columns]

In [5]:
df[[ "Gross","Rating"]]

            Gross  Rating
0    2.960000e+08     5.9
1    1.457933e+08     7.4
2    7.107992e+07     7.2
3    1.610017e+08     7.2
4    8.443162e+07     7.5
..            ...     ...
611  1.062000e+09     NaN
612  7.594000e+08     NaN
613  1.632000e+09     NaN
614  2.796000e+09     NaN
615           NaN     NaN

[616 rows x 2 columns]

In [6]:
dfs= df[[ "Gross","Rating"]]
dfs.sort_values(by=["Rating"] )

            Gross  Rating
426  3.185029e+08     4.1
278  1.970120e+08     4.2
438  3.426954e+08     4.3
413  7.696536e+08     4.3
227  1.233079e+08     4.4
..            ...     ...
611  1.062000e+09     NaN
612  7.594000e+08     NaN
613  1.632000e+09     NaN
614  2.796000e+09     NaN
615           NaN     NaN

[616 rows x 2 columns]

In [7]:
dfb= dfs.sort_values(by=["Rating"] )
dfb.dropna()

            Gross  Rating
426  3.185029e+08     4.1
278  1.970120e+08     4.2
438  3.426954e+08     4.3
413  7.696536e+08     4.3
227  1.233079e+08     4.4
..            ...     ...
98   3.688000e+08     8.9
83   3.213656e+08     8.9
287  1.118889e+09     8.9
99   2.139288e+08     8.9
393  1.004558e+09     9.0

[508 rows x 2 columns]

In [18]:
s=5.000000e+07

dfx=dfb[dfb["Gross"]> s]
print (dfx)

            Gross  Rating
426  3.185029e+08     4.1
278  1.970120e+08     4.2
438  3.426954e+08     4.3
413  7.696536e+08     4.3
227  1.233079e+08     4.4
..            ...     ...
610  3.859000e+08     NaN
611  1.062000e+09     NaN
612  7.594000e+08     NaN
613  1.632000e+09     NaN
614  2.796000e+09     NaN

[615 rows x 2 columns]

In [19]:
t=7
df1 = dfx[dfx["Rating"] > t]
print (df1)

            Gross  Rating
365  3.835315e+08     7.1
468  5.389832e+08     7.1
203  3.638897e+08     7.1
307  3.472349e+08     7.1
152  4.576964e+08     7.1
..            ...     ...
98   3.688000e+08     8.9
83   3.213656e+08     8.9
287  1.118889e+09     8.9
99   2.139288e+08     8.9
393  1.004558e+09     9.0

[224 rows x 2 columns]

In [21]:
df[["Gross","Rating","MPAA Rating"]]

            Gross  Rating MPAA Rating
0    2.960000e+08     5.9       PG-13
1    1.457933e+08     7.4          PG
2    7.107992e+07     7.2          PG
3    1.610017e+08     7.2           R
4    8.443162e+07     7.5          PG
..            ...     ...         ...
611  1.062000e+09     NaN           G
612  7.594000e+08     NaN       PG-13
613  1.632000e+09     NaN          PG
614  2.796000e+09     NaN       PG-13
615           NaN     NaN         NaN

[616 rows x 3 columns]

In [22]:
df3=df[["Gross","Rating","MPAA Rating"]]
df3.dropna()

           Gross  Rating MPAA Rating
0    296000000.0     5.9       PG-13
1    145793296.0     7.4          PG
2     71079915.0     7.2          PG
3    161001698.0     7.2           R
4     84431625.0     7.5          PG
..           ...     ...         ...
505  652105443.0     7.8          PG
506  675120017.0     8.6       PG-13
507  714766572.0     7.7       PG-13
508  710644566.0     7.6       PG-13
509  773328629.0     8.0       PG-13

[508 rows x 3 columns]

In [32]:
df3[df3["Rating"]>7]

           Gross  Rating MPAA Rating
1    145793296.0     7.4          PG
2     71079915.0     7.2          PG
3    161001698.0     7.2           R
4     84431625.0     7.5          PG
6     92800000.0     7.6           R
..           ...     ...         ...
505  652105443.0     7.8          PG
506  675120017.0     8.6       PG-13
507  714766572.0     7.7       PG-13
508  710644566.0     7.6       PG-13
509  773328629.0     8.0       PG-13

[224 rows x 3 columns]

In [33]:
df4=df3[df3["Rating"]>7]
df4[df4["MPAA Rating"]== ("PG")]

            Gross  Rating MPAA Rating
1    1.457933e+08     7.4          PG
2    7.107992e+07     7.2          PG
4    8.443162e+07     7.5          PG
7    2.358601e+08     8.1          PG
13   4.113489e+08     7.5          PG
15   2.223000e+08     7.6          PG
16   3.320000e+08     7.8          PG
19   9.590409e+07     7.3          PG
24   4.766847e+08     7.6          PG
32   1.992000e+08     7.6          PG
34   2.445276e+08     7.4          PG
45   7.860000e+07     8.0          PG
46   3.773506e+08     8.0          PG
49   9.690000e+07     7.2          PG
72   1.074588e+08     7.2          PG
80   7.090697e+07     8.0          PG
106  1.200000e+08     8.5          PG
126  1.062700e+08     7.3          PG
130  3.552379e+08     7.6          PG
174  1.711203e+08     7.4          PG
185  2.641182e+08     8.1          PG
188  2.186132e+08     7.1          PG
215  4.480000e+08     7.3          PG
220  1.367067e+08     7.8          PG
241  4.844092e+08     7.8          PG
255  9.751000e+08     7.6          PG
261  3.832571e+08     7.5          PG
270  8.766885e+08     7.4          PG
304  6.314421e+08     8.0          PG
309  7.898046e+08     7.9          PG
311  9.198388e+08     7.2          PG
385  6.317446e+08     7.5          PG
410  3.815099e+08     7.7          PG
411  7.350991e+08     8.2          PG
415  9.339592e+08     7.6          PG
420  5.435140e+08     7.6          PG
425  3.218872e+08     7.2          PG
428  4.948788e+08     8.1          PG
435  5.917949e+08     7.7          PG
447  5.550000e+08     7.8          PG
451  6.656923e+08     7.2          PG
461  3.583756e+08     7.1          PG
466  4.712229e+08     7.7          PG
468  5.389832e+08     7.1          PG
480  9.707619e+08     7.4          PG
484  5.851789e+08     7.2          PG
485  1.274219e+09     7.5          PG
498  4.691607e+08     7.8          PG
503  6.091230e+08     7.8          PG
505  6.521054e+08     7.8          PG